<div class="produtos">

  <!-- <div *ngFor="let produto of data.produtos">
    <p>Nome: {{ produto.nome }}</p>
    <p>Valor: {{ produto.valor }}</p>
    <p>Exclusivo: {{ produto.exclusivo }}</p>
    <p>Promoção: {{ produto.promocao }}</p>
    <img [src]="produto.imagem">
    <p>decrição Curta: {{ produto.decricaoCurta }}</p>
    <p>descrição Longa: {{ produto.descricaoLonga }}</p>

    <div *ngFor="let ficha of produto.fichaTecnica">
      <p>Titulo: {{ ficha.titulo }}</p>
      <p>Descrição: {{ ficha.descricao }}</p>
    </div>
  </div> -->

  <header>
    <img [routerLink]="['/produtos-todos/']" src="assets/img/code.png" class="logo">
    <ul>
      <li><a [routerLink]="['/produtos-todos/']" routerLinkActive="ative"><img src="assets/img/supplies.png">Todos</a>
      </li>
      <li><a [routerLink]="['/produtos-exclusivos/']" routerLinkActive="ative"><img
            src="assets/img/box.png">Exclusivos</a></li>
      <li><a [routerLink]="['/produtos-promocao/']" routerLinkActive="ative"><img
            src="assets/img/gift-box.png">Promoção</a></li>
      <li><a [routerLink]="['/produtos-favoritos/']" routerLinkActive="ative"><img
            src="assets/img/recommended.png">Favoritos</a></li>
    </ul>


    <img src="assets/img/Sem-Título-2.png" class="footer">
  </header>

  <app-my-counter></app-my-counter>

</div>


<router-outlet></router-outlet>