<!-- {{ data.produtos | json }} -->





<div class="produtos">

  <!-- <div *ngFor="let produto of data.produtos">
    <p>Nome: {{ produto.nome }}</p>
    <p>Valor: {{ produto.valor }}</p>
    <p>Exclusivo: {{ produto.exclusivo }}</p>
    <p>Promoção: {{ produto.promocao }}</p>
    <img [src]="produto.imagem">
    <p>decrição Curta: {{ produto.decricaoCurta }}</p>
    <p>descrição Longa: {{ produto.descricaoLonga }}</p>

    <div *ngFor="let ficha of produto.fichaTecnica">
      <p>Titulo: {{ ficha.titulo }}</p>
      <p>Descrição: {{ ficha.descricao }}</p>
    </div>
  </div> -->

  <header>
    <img src="assets/img/code.png" class="logo">
    <ul>
      <li><a><img src="assets/img/supplies.png">Todos</a></li>
      <li><a><img src="assets/img/box.png">Exclusivos</a></li>
      <li><a><img src="assets/img/gift-box.png">Promoção</a></li>
      <li><a><img src="assets/img/recommended.png">Favoritos</a></li>
    </ul>
  </header>

  <section class="content">
    <div class="content-header">
      <h1><strong>Empresa XPTO</strong> - Conheça todos os nossos produtos
        <span>Listagem de produtos - clique no produto desejado para saber mais</span></h1>
      <input type="search" placeholder="Buscar" class="busca">
    </div>

    <div class="content-body">
      <div *ngFor="let produto of data.produtos" class="card">
        <div class="image">
          <!-- <img src="assets/img/NoPath.png"> -->

          <img class="img-produto" [src]="produto.imagem">

          <span [className]="(produto.promocao ? 'label' : (produto.exclusivo ? 'label-exclusivo' : 'label'))"
            class="label">{{ (produto.promocao ? 'Promoção' : (produto.exclusivo ? 'Exclusivo' : '')) }}</span>
        </div>
        <div class="flex-divider">
          <p class="price">{{ produto.valor | currency:'R$' }}</p>
          <div class="favorite">
            <input #checkbox (change)="onFavorito(produto.id, checkbox.checked);" type='checkbox'
              [name]="'thing-' + produto.id" [id]="'thing-' + produto.id" /><label [for]="'thing-' + produto.id">tornar
              favorito</label>
          </div>
        </div>
        <h2>{{ produto.nome }}</h2>
        <p>{{ produto.decricaoCurta }}</p>
      </div>
    </div>
  </section>

</div>


<router-outlet></router-outlet>